/* Extra small devices (portrait phones, less than 576px) 
    === XS
*/

@media (max-width: 575.98px) {
    .checkout-table {
        height: 82%;
    }
    .checkout-height {
        height: 55vh;
    }
}


/* Small devices (landscape phones, 576px and up) 
    === SM
*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .checkout-height {
        height: 55vh;
    }
    .checkout-table {
        height: 60%;
    }
}


/* Medium devices (tablets, 768px and up) 
    === MD
*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .checkout-height {
        height: 55vh;
    }
    .checkout-table {
        height: 70%;
    }
}


/* Large devices (desktops, 992px and up) 
    === LG
*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .checkout-height {
        height: 85vh;
    }
    .checkout-table {
        height: 87%;
    }
}


/* Extra large devices (large desktops, 1200px and up) 
    === XL
*/

@media (min-width: 1200px) {
    .checkout-height {
        height: 85vh;
    }
    .checkout-table {
        height: 90%;
    }
}

.checkout-table th {
    position: sticky;
    top: 0;
}

.checkout-table {
    overflow-y: auto;
}